$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

@mixin validation-highlight($border-color: #ccc) {
  border-color: $border-color;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075)); // Redeclare so transitions work
  &:focus {
    border-color: darken($border-color, 10%);
    $shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px lighten($border-color, 20%);
    @include box-shadow($shadow);
  }
}

@import "sticky-footer";

form[name=signup], form[name=login] {
  max-width: 300px;
  margin: 150px auto 0;
  padding: 20px;
  @media (min-height: 800px) {
    margin: 250px auto 0;
  }
  input {
    &.ng-invalid.ng-touched {
      @include validation-highlight($state-danger-text);
    }
    &.ng-valid.ng-touched {
      @include validation-highlight($state-success-text);
    }
  }

  input, select {
    margin: 10px 0 !important;
  }

}

input, select {
  @extend .form-control;
}

a {
  outline: none;
  cursor: pointer;
}
.header {
  h3 {
    a.text-muted:hover, a.text-muted:active, a.text-muted:focus {
        text-decoration: none;
        color: $text-muted;
    }
  }
}

.dropdown-menu {
  a {
    cursor: pointer;
  }
}

.footer {
  padding: 25px 0;
  text-align: center;
}

.tab-pane {
  padding-top: 20px;
}


ul {
  padding-left: 0;
}


#operations, #categories {

  ul {
    margin-top: 15px;
  }

  @media all and (max-width: $screen-xs) {
    button {
      display: block;
      width: 100%;
    }
  }

  li {
    padding: 5px 0;
    list-style: none;

    .negative {
      color: $brand-danger;
    }
    .positive {
      color: $brand-success;
    }

    .glyphicon {
      display: inline-block;
      padding: 0 5px;
      cursor: pointer;
    }

    @media (max-width: $screen-sm) {

      border-top: 1px solid $gray-lighter;
      &:first-child {
        border-top: none;
      }
      @include clearfix;

      .actions {
        float: right;
      }
    }


    .form-inline .form-group {
      margin-bottom: 15px !important;
      margin-top: 15px !important;
    }

    .glyphicon-remove {
      color: $brand-danger;
      &:hover {
        color: darken($brand-danger, 10%);
      }
    }
    .glyphicon-pencil {
      color: $brand-primary;
      &:hover {
        color: darken($brand-primary, 10%);
      }
    }
  }
}

