<form novalidate name="signup">
  <div class="form-group">
    <input ng-model="name" placeholder="Ваше имя"
         required="true"
         ng-minlength="3"
         name="name"
    ></div>
  <div class="form-group"><input ng-model="email" placeholder="Email"
         required=""
         type="email"
    ></div>
  <div class="form-group"><input
    ng-model="password"
    placeholder="Пароль"
    type="password"
    ng-minlength="6"
    required=""
    ></div>
  <div class="form-group"><input
    placeholder="Повторите пароль"
    required=""
    ng-model="verify"
    type="password"
    name="password-repeat"
    value-match="password"
    ></div>
  <button class="btn-success btn-block btn-lg"
      ng-click="doSignup()"
      ng-disabled="signup.$invalid"
    >Зарегистрироваться</button>
  <div class="errors" ng-show="failure">Ошибки: <pre>{{ errors | json  }}</pre> </div>
</form>


